.mess{
    width: 50px;
    position: fixed;
    bottom: 100px;
    right: 100px;
}
.menu{
    background-color: red;
    padding-right: 41px;
   
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
}
li{
    display: inline;
    background-color: pink;
    border-right: 2px solid black;
    font-size: large;
    
}